
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  color: #f7f7f7;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  background-image: url(/src/assets/background.jpg);
  background-position: center;
  background-size: cover;
}

body::after{

}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.App {
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}

h1 {
  font-weight: 300;
  color: #44a8c0;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.input-wrapper {
  margin: 3.5rem;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input {
  width: 450px;
  padding: 0.8em;
}

input:focus {
  outline: none;
}

button {
  width: 120px;
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

input,
button {
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: transparent;
  border: 1px solid #828691;
}


